*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body
{
    background-color:   rgb(73, 66, 66);
    display: flex;
    color: white;
}
nav
{
    background-color: rgb(33, 30, 30);
    width: 250px;
    height: 100vh;
}
.main-container
{
    flex-grow: 1;
    height: 70vh;
    margin: auto;
    background-color: rgb(40, 43, 46);
}