/* Ajout d'une police téléchargée dans le projet */
@font-face {
  font-family: "google-sans";
  src: url(fonts/GoogleSans-Regular.ttf) format("truetype");
  font-weight: normal;
}
*,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "google-sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: rgb(27, 27, 27);
  display: flex;
  gap: 30px;
  color: white;
}
/*******************  NAVIGATION  **********************/
nav {
  padding: 20px 10px 0 30px;
  width: 300px;
  height: 100vh;
}

.nav-logo {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.nav-logo_menu {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 100px;
}
.nav-logo_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  &:hover {
    background-color: #2e3135;
  }
}
/* Ajout d'une couleur au pictogramme svg */
.mon-burger {
  fill: #e3e3e3;
}
.nav-logo_logo {
  padding: 10px;
  font-weight: bold;
}
.nav-button_create {
    display: flex;
    gap: 15px;
    background-color: #2e3135;
    color: white;
    width: calc(100% - 80px);
    border: none;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    align-items: center;
  &:hover {
    background-color: #3b3e42;
  }
}
.nav-tache >ul>li {
      display: flex;
    align-items: center;
    gap: 15px;
}
.nav-tache_svg {
  fill: #e3e3e3;
  width: 24px;
}



.nav-liste {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.nav-liste_svg {
  fill: #e3e3e3;
  width: 30px;
  height: 30px;
}
.nav-button-create_plus {
  height: 30px;
  width: 30px;
  fill: #e3e3e3;
}
/********************************** NAV BUTTON ********************/

.nav-button-create_text {
  font-size: 20px;
}
.btn-tache {
  background: none;    /* Enlève le fond gris */
  border: none;        /* Enlève la bordure */
  padding: 0;          /* Enlève les marges internes */
  font: inherit;       /* Utilise la même police que le reste */
  cursor: pointer;     /* Ajoute la petite main au survol */
  display: flex;       /* Pour aligner l'icône et le texte */
  align-items: center;
  gap: 10px;           /* Espace entre l'icône et le texte */
  width: 100%;         /* Pour que tout le li soit cliquable */
  text-align: left;
  color: white;
  &:hover {
    background-color: #3b3e42; /* Couleur de fond au survol */
    border-radius: 10px;           /* Ajoute un peu de padding au survol */
  }
}
.btn-tache_liste {
  background: transparent;    /* Enlève le fond gris */
  border: none;        /* Enlève la bordure */
  font: inherit;       /* Utilise la même police que le reste */
  cursor: pointer;     /* Ajoute la petite main au survol */
  border-radius: 50%;          /* Ajoute un peu de padding au survol */
  &:hover {
    background-color: #3b3e42; /* Couleur de fond au survol */
  }
}


/********************² MAIN CONTAINER  ********************/
.main-container {
  display: flex;
  width: 50vw;
  height: 75vh;
  align-self: center;
  background-color: rgb(19, 19, 20);
  
}
.container {
    display: flex;
    padding: 10px 0 0 20px;
    flex-direction: column;
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    width: -webkit-fill-available;
    padding-bottom: 8px;
     background-image: url( '../pictogrammes/wavey-fingerprint.svg' );
}
.container-add-task {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}
.container-add-task_svg {
    fill: #4814d7;
    width: 30px;
    height: 30px;
}
.container-add-task_text {
    color: #4814d7;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.task {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8px 0;
}

/********************** TASKS  ********************/
.popup-modal {
  background-color: rgb(0,0,0,0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
}
.popup-modal.active {
  display: block;
}

.popup-content {
  background-color: rgb(27, 27, 27);
  width: 600px;
  height: 400px;
  position: absolute;
  top: 30%;
  left: 50%;
  translate: transform(-50%, -50%);
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}